.Card {
  background: black;
  color: white;
  width: 400px;
  height: 600px;
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
  font-size: 40px;
}

.focus .Card {
  background: white !important;
  color: black !important;
}