.Card {
  background: black;
  color: white;
  width: 600px;
  height: 800px;
  margin: 20px;
  padding: 50px 20px 0 20px;
  border-radius: 20px;
  font-size: 40px;
}

.Card .info {
  font-size: 30px;
}

.Card .context {
  font-size: 25px;
  padding: 5px;
  font-family: 'courier'
}

.Card .decision {
  margin-top: 10px;
  margin-bottom: 10px;
}

.Card .decision [data-approved="true"] {
  color: green;
}

.Card .decision [data-approved="false"] {
  color: red;
}

.Card .decisionTitle {
  margin-bottom: 0;
}

.Card .context {
  background-color: black;
  color: #00FF00;
}

.Card .params {
  margin-bottom: 5px;
}

.Card .label {
  font-weight: bold;
}

.Card h3 {
  padding: 0;
  margin: 0 0 30px 0;
}

.Card ul {
  margin: 0;
}

.Card li {
  margin-bottom: 40px;
}

.Card button {
  margin-top: 30px;
  background: red;
  padding: 20px 40px;
  border-radius: 5px;
  color: white;
  font-size: 25px;
}

.Card li:last-child {
  margin-bottom: 0;
}

.focus .Card {
  background: white !important;
  color: black !important;
}
